<section>
  <video loop muted autoplay controls="true"
      oncanplay="this.play()" onloadedmetadata="this.muted = true"
      width="100%"
      height="100%"
      class="videoC">
      <source src="/assets/videos/North Shore Bike Shop Commercial.mp4" type="video/mp4">
  </video>
</section>
<!-- MOUNTAIN BIKE SECTION  ========================================= -->
<section id="MOUNTAIN BIKES" class="MOUNTAIN">
  <div class="demoBikes">
    <article
      class="zoomin frame roadSchema"
      href="demo/assets/bikes/index.html"
    >
      <img class="img1" src="/assets/img/DemoBikes(2).png" />
    </article>
  </div>
  <div class="mountainBikes" id="objectbikes">
    <article
      class="form-group col-md-20 zoomin mountainBikes productBox wow rotateInDownLeft"
      data-wow-delay="0.4s"
    >
      <figure>
        <h1 class="titleMountain">MOUNTAIN BIKES</h1>
        <img
          src="/assets/bikes/01_CAPRA27_CF_Pro_Race_Deep_Petrol_Cart_720x600.png"
          alt="Black Giant full suspension"
        />
        <figcaption class="pDetail">
          CAPRA 27 CF PRO RACE<strong class="price">£4,799.00</strong>
          <!-- <p>THE TOUGHEST AND HIGH SPECS MOUNTAIN BIKES!</p> -->
        </figcaption>
      </figure>
    </article>
  </div>
</section>
<!-- MOUNTAIN BIKE SECTIONS ENDS ======================================= -->
<!-- ROAD BIKES SECTION ================================================ -->
<section id="ROAD BIKES" class="ROAD">
  <div class="demoBikes">
  <article class="zoomin frame roadSchema C2WSchema">
    <img class="" src="..//assets/img/road2.png" />
  </article>
  </div>
  <div class="mountainBikes" id="objectbikes">
    <article
      class="zoomin mountainBikes productBox wow bounceInLeft"
      data-wow-delay="0.4s"
      href="mountain/assets/bikes/index.html"
    >
      <figure>
        <h1 class="titleRoad">ROAD BIKES</h1>
        <img
          src="/assets/bikes/FRISTON_1080x.jpg"
          alt="Black Giant full suspension"
        />
        <figcaption class="pDetail" style="color: black">
          WHITE FRISTON<strong class="price">£1699.00</strong>
        </figcaption>
      </figure>
    </article>
  </div>
</section>

<!--ROAD BIKES SECTION ENDS ================================================== -->
<div class="containerFilter"></div>
<section id="ABOUT US" class="aboutUs">
  <h1 class="contacttitle">ABOUT</h1>
  <div class="holdingC">
    <div class="aboutText">
      <article class="zoomin frame toolWorkshop">
        <img
          class="workShop imgAbout"
          src="..//assets/img/tools-folder-svgWORSHOP.png"
        />
      </article>
      <p>
        We are bike specialist with more than 10 years experience looking
        forward to seeing your satisfaction with our products and workshop. We
        give you the best advise to buy the right bike, setting up for you
        every component and personalizing your future bike.
      </p>
      <p>We offer you the best price with the cycling to work scheme!.</p>
      <p>
        You can trust in our service! we offer a range of bike services
        in-store to keep your bike on the road and you don't have to worry
        about any maintenance because we give you a strong warranty.
      </p>
    </div>
  </div>
</section>
<section id="contact" class="section5">
  <div class="row">
    <div class="col-md-3 col-xs-6">
      <h1 class="contacttitle">CONTACT</h1>
      <div style="text-align: center">
        <p>Ground Floor<br />10-1 St Mark's Hill<br />London KT6 4PJ</p>
        <br />
        <a href="tel:07428228258"
          ><i class="fa fa-2x fa-phone iconsContact" aria-hidden="true"></i>
          07428228258</a
        ><br />

        <a href="mailto:cristianbisby@gmail.com"
          ><i
            class="fa fa-2x fa-envelope iconsContact"
            aria-hidden="true"
          ></i>
          Email us</a
        >
      </div>
    </div>

    <div class="col-md-3 col-xs-6">
      <h1 class="contacttitle">BIKES</h1>
      <div style="text-align: center">
        <a href="mountain/assets/bikes/index.html">Mountain bikes</a><br />
        <a href="road/assets/bikes/index.html">Road bikes</a><br />
        <a href="demo/assets/bikes/index.html">Demo bikes</a><br />
        <br /><br />
      </div>
    </div>

    <div class="col-md-3 col-xs-6">
      <h1 class="contacttitle">CLEARANCE BIKES</h1>
      <div style="text-align: center">
        <p>Are you on the budget? Try our clearance bikes!</p>
        <br />
        <a href="">Mountain bikes</a><br />
        <a href="">E-Bikes</a><br />
      </div>
    </div>

    <div class="col-md-3 col-xs-6 otherServices">
      <h1 class="contacttitle">OTHER SERVICES</h1>
      <div style="text-align: center">
        <a href="C2WSchema/index.html">Cycling to work scheme</a><br />
        <a href="">Finance</a><br />
      </div>
    </div>
  </div>
</section>
<div #mapWrapper id="map"></div>
<!-- <agm-map id="map" [latitude]='latitude' [longitude]='longitude'
    [mapTypeId]='mapType'>
  </agm-map> -->
<!-- CONTACT ENDS =============================================== -->
<!-- FOOTER ===================================================== -->
<footer>
  <div class="footerIcons">
    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a
    >&nbsp;&nbsp;<a href="#"
      ><i class="fa fa-facebook" aria-hidden="true"></i></a
    >&nbsp;&nbsp;<a href="#"
      ><i class="fa fa-instagram" aria-hidden="true"></i
    ></a>
  </div>
  <div class="footerD">
    <span> &copy; BestBikes</span>
  </div>
</footer>
<!-- shopping menu -->
<div id="cd-shadow-layer"></div>
<div id="cd-cart">
  <h1 class="cartTitle">Cart</h1>
  <ul class="cd-cart-items">
    <li>
      <span class="simpleCart_items"></span>
      <div class="simpleCart_price"></div>
      <a href="#0" class="simpleCart_remove"></a>
    </li>
  </ul>
  <div class="cd-cart-total">
    <p>
      Total: <span class="simpleCart_total"></span>
      <span id="simpleCart_quantity" class="simpleCart_quantity"></span> items
      <br />
      <a href="javascript:;" class="simpleCart_empty">empty cart</a>
      <br />
    </p>
  </div>
  <a href="checkOut/payment.html" class="simpleCart_checkout">Checkout</a>
</div>
<!-- FOOTER ENDS ================================================== -->
<!-- ================**********PRELOADER********==================      -->
<div id="preloader">
  <div class="lds-gear">
    <div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
