<section id="home" class="section1 homeBgImage">
    <!-- <div class="slogan">We can't take you to the trails<br> but our bikes and your passion will give you endless
            fun!</div>
    <div class="mainHeading">you just need to grab one<br>and enjoy!</div> -->
    <div class="arrowSection">
        <div class="arrow bounce">
            <a id="faArrow" class="fa fa-arrow-down fa-4x mb-4" href="#link"></a>
        </div>
    </div>
</section>
<div id='link'></div>
<!-- MOUNTAIN BIKE SECTION  ========================================= -->
<section class="MOUNTAIN">
    <h1 class="titleMountain">ENDURO BIKES</h1>
    <div class="mountainBikes" id="objectbikes">
        <article class="simpleCart_shelfItem form-group col-md-20 zoomin mountainBikes productBox wow rotateInDownLeft" data-wow-delay="0.4s" href="mountainBikes/index.html">
            <figure>
                <div class="item">
                    <img src="../../../../assets/bikes/01_CAPRA27_CF_Pro_Race_Deep_Petrol_Cart_720x600.png" alt="item">
                    <figcaption class="pDetail">
                        <div class="item_name">CAPRA 27 CF PRO RACE</div><strong class="price item_price">£4,799.00</strong>
                        <!-- <p>THE TOUGHEST AND HIGH SPECS MOUNTAIN BIKES!</p> -->
                    </figcaption>
                    <a type="button" class="item_add" value="add to cart">Add to Cart</a>
                </div>
            </figure>
        </article>
        <article class="simpleCart_shelfItem form-group col-md-20 zoomin mountainBikes productBox wow rotateInDownLeft" data-wow-delay="0.4s" href="mountainBikes/index.html">
            <figure>
                <div class="item">
                    <img src="../../../../assets/bikes/RALLON_MLTD-22.png" alt="item">
                    <figcaption class="pDetail">
                        <div class="item_name">ORBEA RALLON MLTD-22</div><strong class="price item_price">£4,869.00</strong>
                        <!-- <p>THE TOUGHEST AND HIGH SPECS MOUNTAIN BIKES!</p> -->
                    </figcaption>
                    <a type="button" class="item_add" value="add to cart">Add to Cart</a>
                </div>
            </figure>
        </article>
        <article class="simpleCart_shelfItem form-group col-md-20 zoomin mountainBikes productBox wow rotateInDownLeft" data-wow-delay="0.4s" href="mountainBikes/index.html">
            <figure>
                <div class="item">
                    <img class="bikePicYeti" src="../../../../assets/../../../../assets/bikes/2080600_2018_A_.jpg" alt="item">
                    <figcaption class="pDetail">
                        <div class="item_name">YETI SB6 T-Series Bike 2019</div>
                        <strong class="price item_price">£4,999.00</strong>
                        <!-- <p>THE TOUGHEST AND HIGH SPECS MOUNTAIN BIKES!</p> -->
                    </figcaption>
                    <a type="button" class="item_add" value="add to cart">Add to Cart</a>
                </div>
            </figure>
        </article>
        <article class="simpleCart_shelfItem form-group col-md-20 zoomin mountainBikes productBox wow rotateInDownLeft" data-wow-delay="0.4s" href="mountainBikes/index.html">
            <figure>
                <div class="item">
                    <img class="bikePicCanyon" src="../../../../assets/bikes/strive-cf-9-team-us_c1248-1199x739_phone.png" alt="item">
                    <figcaption class="pDetail">
                        <div class="item_name">CANYON Strive CF 9.0 Team 2018</div>
                        <strong class="price item_price">£4,699.00</strong>
                    </figcaption>
                    <a type="button" class="item_add" value="add to cart">Add to Cart</a>
                </div>
            </figure>
        </article>
    </div>
</section>
<!-- HARD TAILS & XC BIKES ================================================ -->
<section class="section4">
    <h1 class="titleMountain">HARD TAILS & XC BIKES</h1>
    <div class="mountainBikes" id="objectbikes">
        <article class="simpleCart_shelfItem form-group col-md-20
     zoomin mountainBikes productBox2 wow rotateInDownLeft" data-wow-delay="0.4s" href="">
            <figure>
                <div class="item">
                    <img src="../../../../assets/bikes/Orange_Crush_Pro_3Q_phone.png" alt="item">
                    <figcaption class="pDetail">
                        <div class="item_name">Orange Crush Pro 3Q Enduro 2019
                        </div><strong class="price item_price">£1,799.00</strong>
                    </figcaption>
                    <!-- <a type="button" class="item_add" value="add to cart">Add to Cart</a> -->
                    <button type="button" class="item_add btn btn-link">Add to Cart</button>
                </div>
            </figure>
        </article>
        <article class="simpleCart_shelfItem form-group col-md-20 zoomin mountainBikes productBox2 wow rotateInDownLeft" data-wow-delay="0.4s">
            <figure>
                <div class="item">
                    <img src="../../../../assets/bikes/Ragley Blue Pig Bluepig 2019 Komplettbike 27,5 650B Enduro.png" alt="item">
                    <figcaption class="pDetail">
                        <div class="item_name">Ragley Blue Enduro steal frame</div><strong class="price item_price">£1,599.00</strong>
                    </figcaption>
                    <button type="button" class="item_add btn btn-link">Add to Cart</button>
                </div>
            </figure>
        </article>
        <article class="simpleCart_shelfItem form-group col-md-20 zoomin mountainBikes productBox2 wow rotateInDownLeft" data-wow-delay="0.4s">
            <figure>
                <div class="item">
                    <img src="../../../../assets/bikes/Lapierre-2019-ProRace-SAT-929-Ultimate-8723-l-1.png" alt="item">
                    <figcaption class="pDetail">
                        <div class="item_name">Lapierre ProRace SAT Ultimate XC 2019</div><strong class="price item_price">£4,895.00</strong>
                    </figcaption>
                    <button type="button" class="item_add btn btn-link">Add to Cart</button>
                </div>
            </figure>
        </article>
        <article class="simpleCart_shelfItem form-group col-md-20 zoomin mountainBikes productBox2 wow rotateInDownLeft" data-wow-delay="0.4s">
            <figure>
                <div class="item">
                    <img src="../../../../assets/bikes/Mondraker-2019-Podium-Carbon-RR-29-8404-l-2.png" alt="item">
                    <figcaption class="pDetail">
                        <div class="item_name">Mondraker Podium Carbon RR 3Q XC 2019</div><strong class="price item_price">£5,895.00</strong>
                    </figcaption>
                    <button type="button" class="item_add btn btn-link">Add to Cart</button>
                </div>
            </figure>
        </article>
    </div>
</section>
<!-- E-BIKES ================================================ -->
<section class="section4">
    <h1 class="titleMountain">E-BIKES</h1>
    <div class="mountainBikes" id="objectbikes">
        <article class="simpleCart_shelfItem form-group col-md-20 zoomin mountainBikes productBox2 wow rotateInDownLeft" data-wow-delay="0.4s">
            <figure>
                <div class="item">
                    <img src="../../../../assets/bikes/Cannondale-Moterra-enduro-mtb-e-bike-2020-Bosch-CX-18.jpg" alt="item">
                    <figcaption class="pDetail">
                        <div class="item_name">Cannondale Moterra enduro mtb e bike 2020</div><strong class="price item_price">£5,500.00</strong>
                    </figcaption>
                    <button type="button" class="item_add btn btn-link">Add to Cart</button>
                </div>
            </figure>
        </article>
        <article class="simpleCart_shelfItem form-group col-md-20 zoomin mountainBikes productBox2 wow rotateInDownLeft" data-wow-delay="0.4s">
            <figure>
                <div class="item">
                    <img src="../../../../assets/bikes/Specialized-Turbo-Kenevo-Expert-black-2019.jpeg" alt="item">
                    <figcaption class="pDetail">
                        <div class="item_name">Specialized Turbo Kenevo Expert black 2019</div><strong class="price item_price">£4,675.00</strong>
                    </figcaption>
                    <button type="button" class="item_add btn btn-link">Add to Cart</button>
                </div>
            </figure>
        </article>
    </div>
</section>
<div class="containerFilter"></div>
<section id="ABOUT US" class="aboutUs">
    <h1 class=contacttitle>ABOUT</h1>
    <div class="holdingC">
        <div class="aboutText">

            <article class="zoomin frame toolWorkshop">
                <img
                class="workShop imgAbout"
                src="..//assets/img/tools-folder-svgWORSHOP.png"
              />
            </article>

            <p>We are bike specialist with more than 10 years experience looking forward to seeing your satisfaction with our products and workshop. We give you the best advise to buy the right bike, setting up for you every component and personalizing
                your future bike.</p>


            <p>We offer you the best price with the cycling to work scheme!.</p>

            <p>You can trust in our service! we offer a range of bike services in-store to keep your bike on the road and you don't have to worry about any maintenance because we give you a strong warranty.</p>
        </div>

    </div>
</section>
<!-- CONTACT SECTION ============================================= -->

<section id="contact" class="section5">

    <div class="row">
        <div class="col-md-3 col-xs-6">
            <h1 class=contacttitle>CONTACT</h1>
            <div style="text-align: center">
                <p>Ground Floor<br>10-1 St Mark's Hill<br>London KT6 4PJ</p>
                <a href="tel:07428228258"><i class="fa fa-2x fa-phone iconsContact" aria-hidden="true"></i>
              07428228258</a><br>
                <a href="mailto:cristianbisby@gmail.com"><i class="fa fa-2x fa-envelope iconsContact" aria-hidden="true"></i>
              Email us</a>
            </div>
        </div>

        <div class="col-md-3 col-xs-6">

            <h1 class=contacttitle>BIKES</h1>
            <div style="text-align: center">
                <a href="../mountainBikes/index.html">Mountain bikes</a><br>
                <a href="../roadBikes/index.html">Road bikes</a><br>
                <a href="../demoBikes/index.html">Demo bikes</a><br>
                <br><br>
            </div>
        </div>

        <div class="col-md-3 col-xs-6">
            <h1 class=contacttitle>CLEARANCE BIKES</h1>
            <div style="text-align: center">
                <p>Are you on the budget? Try our clearance bikes!</p><br>
                <a href="">Mountain bikes</a><br>
                <a href="">E-Bikes</a><br>
            </div>
        </div>

        <div class="col-md-3 col-xs-6 otherServices">
            <h1 class=contacttitle>OTHER SERVICES</h1>                
            <div style="text-align: center">
                <a href="../C2WSchema/index.html">cycling to work scheme</a><br>

            </div>
        </div>
    </div>
</section>

<div #mapWrapper id="map"></div>
<!-- FOOTER ===================================================== -->
<footer>
    <div class="footerIcons">
        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-twitter"
      aria-hidden="true"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-facebook"
      aria-hidden="true"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
    <div class="footerD">
        <span>    &copy; BestBikes</span>
    </div>
</footer>

<!-- shopping menu -->
<div id="cd-shadow-layer"></div>
<div id="cd-cart">
    <h1 class="cartTitle">Cart</h1>

    <ul class="cd-cart-items">
        <li>
            <span class="simpleCart_items"></span>
            <div class="simpleCart_price"></div>
            <a href="#0" class="simpleCart_remove"></a>
        </li>
    </ul>

    <div class="cd-cart-total">
        <p>
            Total: <span class="simpleCart_total"></span>
            <span id="simpleCart_quantity" class="simpleCart_quantity"></span> items
            <br />
            <a href="javascript:;" class="simpleCart_empty">empty cart</a>
            <br />
        </p>
    </div>
    <a href="#0" class="simpleCart_checkout">Checkout</a>
</div>
