
@import "~font-awesome/css/font-awesome.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

body {
   text-align: center;
}

.list {
   width: 200px;
   text-align: left;
   display: inline-block;
}

.nav li {
  display: inline-block;
  margin-right: 15px;
}

a {
   text-decoration: none;
}

